.filterLine{
    border-width: 1px;
    border-color: black;
}
#collapseCategories > ul > li:hover{
    cursor: pointer;
}

.filterIcon{
    padding-right: 10%;
}

.filterContent, .filterHeading{
    padding-left: 10%;
}

/* color #007bff*/