.navDiv{
    display: none;
}
.header{
    margin: 0; 
    padding: 0 0 10px 0;
}
.headerdiv{
     background-color: #338DFF;
     padding: 10px 50px;
}

.landing-page-height{
    height: 100vh;
}
.row-div{
    margin: 0;
    padding: 0;
    background-color: white;
}
.img-div{
    background-image: url(../images/landing.jpg);
    background-size: cover;  
}

.search {
    padding: 0;
    position: absolute;
    top: 50%;
    right: 5%;
}

.search input {
    padding: 10px;
    width: 100%;
    outline: 2px solid orangered;
}
.col-div{
    padding: 0;
    margin: 0;
}
.btn {
    background-color: orangered;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius:1px;
}
.signbtn{
    color: white;
    background-color: black;
    padding: 5px;
    position: absolute;
    top: 10%;
    right: 5%;
    outline: none;
    border: none;
}
.outer-div{
    padding: 10px;

}
.productImg{
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url();
    background-size: contain;
    background-repeat:no-repeat; 
    background-position: center;
}
.sortBy{
    padding: 10px 8px;
}
.sortByDiv{
    padding: 5px 10px;
}
.sortByMobile{
    display: none;
}
.heart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: gray;
}
.redHeart{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: red;
}

.overDiv{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 15px;
}
.color{
    outline:none;
    border:  2px solid gray;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;

}
.color:hover{
    border: 2px solid blue;
}
.colordiv{
    display: none;
}
.size{
    display: none;
}
.productImg:hover .colordiv{
    
    display: block;
}
.productImg:hover .size{
   
    display: block;
}

.panel-primary>.panel-heading {
     color: black; 
     background-color: white; 
     border-color: rgb(187, 182, 182); 
     padding: 15px;
    } 
.panel-primary {
    border-color: transparent; 
    border-bottom: 1px solid rgb(187, 182, 182); 
}
.panel { 
    border-radius: 0px; 
} 
.panel-body { 
    display: none; 
    height: 250px; 
    overflow: auto; 
} 
.categories{
    padding: 5px 10px;
}
.clickable{ 
    cursor: pointer; 
} 
.panel-heading span { 
    margin-top: 0px; 
    font-size: 15px; 
}  
.mainFont{
    font-size: 2rem;
}
.catgry > *{ 
    font-size: 15px; 
} 
.span_data { 
    font-size: 17px; 
} 
.ul_div {
     padding:5px; 
    }
.ul_div {
    list-style: none;
}    
.sidebar{
    padding: 10px 20px;
    background-color: white;
}
.filters{
    padding: 10px 15px;
    border-bottom: 1px solid rgb(226, 223, 223); 
}
.inputPrice{
    width: 5vw;

}
.background{
    background-color:rgb(243, 235, 235);
}
.whiteBg{
    
    border-radius: 5px;
    background-color: white;
}
.whiteBg:hover{
    box-shadow: 1px 1px 10px;
}


.slidecontainer { 
    width: 100%; 
} 
.shadow:hover{
    box-shadow: 1px 1px 10px;
}
.slider { 
    -webkit-appearance: none; 
    width: 100%; 
    height: 5px; 
    border-radius: 5px; 
    background: rgb(16, 52, 216); 
    outline: none; 
    -webkit-transition: .2s; 
    transition: opacity .2s; 
    margin-bottom: 10px; 
} 
.slider::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    appearance: none; 
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    border: 1px solid black; 
    background:white; 
    cursor: pointer; 
} 
.slider::-moz-range-thumb { 
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    background: #4CAF50; 
    cursor: pointer; 
}
.cartDiv{
    color:white; 
    display : flex; 
    justify-content : space-between;
    padding: 0 250px; 
}
 
.searchbar {
    background-color: white;
    border-radius: 10px;
    padding: 0px 10px;
}

.search_input{
   color: rgba(0, 0, 0, 0.849);
    border: 0;
    outline: 0;
    background: white;
    padding: 0 10px;
    width: 450px;
    caret-color:transparent;
    line-height: 40px;
   
}
.headerContent{
    padding: 0 15px;
}


.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:gray;
}
@media only screen and (max-width: 992px) {
    
    .img-div{
        display: none;
    }
    .mobile{
        padding: 10px;
        background-image: url(../images/landing.jpg);
        background-size: cover; 
    }
    .colordiv{
        display: block;
    }
    .size{
        display: block;
    }
    .cartDiv{
        display: none;
    }
    .sortByMobile{
        display: block;
        
    }
    .filtersDiv{
        border: 1px solid black;

    }
    .cartDiv{
        display: none;
    }
    .searchbar {
        background-color: white;
        border-radius: 10px;
        padding: 0px 10px;
    }
    .hideMobilefilter{
        display: none;
    }
    .hideMobilesortBy{
        display: none;
    }
    .search_input{
        width: 150px;
    }
    .block{
        display: block;
        padding: 5px 15px;
        border-bottom: 1px solid black;
    }
}


/* mobile view */

@media only screen and (max-width: 480px) {
    
    .img-div{
        display: none;
    }
    .mobile{
        padding: 10px;
        background-image: url(../images/landing.jpg);
        background-size: cover; 
    }
    .colordiv{
        display: block;
    }
    .size{
        display: block;
    }
    .sortByMobile{
        display: block;
        
    }
    .filtersDiv{
        border: 1px solid rgb(104, 97, 97);
        border-radius: 5px;

    }
    .cartDiv{
        display: none;
    }
    .searchbar {
        background-color: white;
        border-radius: 10px;
        padding: 0px 10px;
    }
    .hideMobilefilter{
        display: none;
    }
    .hideMobilesortBy{
        display: none;
    }
    .search_input{
        width: 150px;
    }
    .block{
        display: block;
        padding: 5px 15px;
        border-bottom: 1px solid black;
    }
    .inputPrice{
        width: 10vw;
    
    }
    
}

